@*@ViewBag*@

<div>
    <a asp-controller="Car" asp-action="AddCar" class="btn-primary">Add Car</a>
    <div>
        @*<ul class="list-group">
            @foreach (Cars item in ViewBag.ListOfCars)
            {
                <li>
                    Brand: @item.Brand
                    Model: @item.Model
                    Year of production: @item.ProductionDate
                    Price: @item.Price
                </li>
            }
        </ul>*@
    </div>
</div>